# yaml-language-server: $schema=../../schema/config.json
binds:
- port: 3001
  listeners:
  - routes:
    - policies:
        cors:
          allowOrigins:
          - "*"
          allowHeaders:
          - mcp-protocol-version
          - content-type
          - cache-control
          exposeHeaders:
          - "Mcp-Session-Id"
      backends:
      - mcp:
          targets:
          - name: drone
            mcp:
              host: localhost
              path: /mcp
              port: 3002

